[project]
	description = go4 hosts the go4.org packages.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/edrex-duex
[access "refs/for/refs/*"]
	read = group user/edrex-duex
	push = group user/edrex-duex
	label-Code-Review = -2..+2 group user/edrex-duex
	label-Verified = -1..+1 group user/edrex-duex
	rebase = group user/edrex-duex
	removeReviewer = group user/edrex-duex
	submit = group user/edrex-duex
[access "refs/heads/*"]
	read = group user/edrex-duex
	create = group user/edrex-duex
	push = +force group user/edrex-duex
	pushMerge = group user/edrex-duex
[access "refs/tags/*"]
	push = +force group user/edrex-duex
	pushTag = group user/edrex-duex
	pushSignedTag = group user/edrex-duex
